<!DOCTYPE html>
<span sec:authentication="name">Username</span>
<span sec:authentication="principal.authorities">Roles</span>
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<div sec:authorize="hasAnyAuthority( 'ADMIN','User')">
    <a href="/new">Create New Product</a>
</div>
<div sec:authorize="hasAnyAuthority('ADMIN','USER')">
    <a th:href="/@{'/edit/' + ${product.id}}">Edit</a>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>
</div>


</html>